nav {
  height: 10vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 2rem;
}
.logo {
  font-size: 1.3rem;
  font-weight: bold;
}
.nav-right .nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}
.nav-right .nav-items .nav-link {
  font-weight: 400;
}
.nav-right .nav-items .nav-link:hover {
  color: var(--orange);
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 480px) {
  .nav-right .nav-items {
    display: none;
  }
}
